body {
    background-color: #EFEBEA;
    height: 100%;
    width: 100%;
}

p {
    font-family: 'Mosk';
}

h2, h3, h4, h5 {
    font-family: 'Quantico';
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
 }

img {
    margin: 6% 2% 2% 6%;
}

.navBarDiv {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.navHeader{
    font-family: 'Quantico';
    text-decoration: none;
    color: black;
}

.navHeader:hover {
    color: black;
}

.navBarOptions {
    float:right;
    cursor: pointer;
}

.navBarOption {
    font-family: 'Quantico';
    color: black;
    display: inline-block;
    border-bottom: 1px solid #EFEBEA;
}

.navBarOption:hover {
    border-bottom: 1px solid currentColor;
}


.launchButton {
    font-family: 'Quantico';
}

.howitWorksText {
    font-family: 'Mosk';
    font-size: 24px;
    margin-top: 40%;
}

.rightCol {
    padding-left: 5%;
}

@font-face {
    font-family: 'Elianto';
    src: url("CustomFonts/Elianto-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Mosk';
    src: url("CustomFonts/Mosk Typeface/Mosk Normal 400.ttf") format("truetype");
}

@font-face {
    font-family: 'Quantico';
    src: url("CustomFonts/Quantico/Quantico-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Allerta';
    src: url("CustomFonts/Allerta/Allerta-Regular.ttf") format("truetype");
}