html {
    height: 100%;
    width: 100%;   
}

body {
    background-color: #EFEBEA;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

h6 {
    font-family: 'Montserrat';
}

.navBarDiv {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.navHeader{
    font-family: 'Michroma';
    text-decoration: none;
    color: black;
}

.navHeader:hover {
    color: black;
}

.navBarOptions {
    float:right;
    cursor: pointer;
}

.navBarOption {
    font-family: 'Michroma';
    color: black;
    display: inline-block;
    border-bottom: 1px solid #EFEBEA;
}

.navBarOption:hover {
    border-bottom: 1px solid currentColor;
}

.landingPageBgDiv {
    float: right;
    height: 60%;
    width: 50%;
    clear:both;
}

.landingPageBg {
    float: right;
    height: 100%;
    width: 85%;
    margin-top: 10%;
    margin-right: 15%;
}

.introDetails {
    float: left;
    height: 45%;
    width: 30%;
    margin-top: 15%;
    margin-left: 5%;
    font-family: 'Michroma';
}

.launchButtonDiv {
    float: bottom;
    clear:both;
    height: 70px;   
}

.launchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-family: 'Michroma';
    color: white;
    background-color: black;
    width: 30%;
    height: 80%;
    margin: auto;
    float: top;
    margin-bottom: 30%;
    border-radius: 6px;
}

.launchButton:hover,
.launchButton:focus {
    transform: scale(1.005)
}

.launchButton:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.launchButton:active {
    transform: scale(0.995);
}