body {
    background-color: #EFEBEA;
    height: 100%;
    width: 100%;
}

h3 {
    font-family: 'Quantico';
}

h4 {
    font-family: 'Elianto';
    text-decoration: none;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
 }

img {
    margin: 6% 2% 2% 6%;
}

.navBarDiv {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.navHeader{
    font-family: 'Quantico';
    text-decoration: none;
    color: black;
}

.navHeader:hover {
    color: black;
}

.navBarOptions {
    float:right;
    cursor: pointer;
}

.navBarOption {
    font-family: 'Quantico';
    color: black;
    display: inline-block;
    border-bottom: 1px solid #EFEBEA;
}

.navBarOption:hover {
    border-bottom: 1px solid currentColor;
}


.introDetails {
    height: 45%;
    margin-top: 30%;
    margin-left: 20%;
    font-family: 'Mosk';
    font-size: large;
}

.launchButton {
    font-family: 'Quantico';
    height: 150%;
}

@font-face {
    font-family: 'Elianto';
    src: url("CustomFonts/Elianto-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Mosk';
    src: url("CustomFonts/Mosk Typeface/Mosk Normal 400.ttf") format("truetype");
}

@font-face {
    font-family: 'Quantico';
    src: url("CustomFonts/Quantico/Quantico-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Allerta';
    src: url("CustomFonts/Allerta/Allerta-Regular.ttf") format("truetype");
}